/* Blog sidebar CSS */

.sidebar {
	display: flex;
	flex-flow: column nowrap;
}

.categories ul {
	list-style: none;
	padding-left: 10px;
	padding-top: 3px;
}

.categories h6 {
	margin-top: 10px;
	color: #757575;
}

.categories h6:hover {
	color: #2B2B2A;
}