/* Skeleton CSS */

.top {
	display: flex;
	flex-flow: column wrap;
	min-height: 30%;
	max-width: 756px;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.heading {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	font-size: 5em;
	font-weight: bold;
	color: #757575;
}

nav {
	max-width: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav li a {
	font-size: 1em;
	font-weight: bold;
	color: #757575;
}

.nav li a:hover, .nav li a:focus {
	background-color: transparent;
	color: #2B2B2A;
}

/* Horizontal ruler inserted by redactor */
hr {
	border-color: #2B2B2A;
	width: 70%;
}

.footer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: auto;
	color: #757575;
}

.footer i {
	display: inline-block;
	width: inherit;
	height: inherit;
	margin: 8px 8px 8px 8px;
	color: #757575;
}

.footer i:hover {
	color: #2B2B2A;
}

a {
	color: #757575;
}

a:hover {
	color: #2B2B2A;
	text-decoration: none;
}
