{% extends 'blog/skeleton.html' %}
{% load staticfiles %}

{% block title %}
<title>jinsol.me - blog{% if post_list|length > 1 %} - {{ post.title }}{% endif %}</title>
{% endblock %}

{% block page-css %}
<!-- Blog page CSS -->
<link href={% static "css/posts.css" %} rel="stylesheet">
<!-- Blog sidebar CSS -->
<link href={% static "css/sidebar.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="post-area col-sm-9 col-xs-12">
		<!-- Posts (left) -->
		{% for post in post_list %}
		<div class="post">
			<div class="post-title">
				<a href="/blog/post/{{ post.slug }}/"><h3>{{ post.title }}</h3></a>
			</div>
			<div class="post-info">
				<div class="post-time-info">
					<h6>{{ post.created_timestamp }}</h6>
					{% if post.modified %}
					<h6>Last modified: {{ post.modified_timestamp }}</h6>
					{% endif %}
				</div>
				<a href="/blog/category/{{ post.category.slug }}/">
					<h6 class="post-category">Category: {{ post.category.name }}</h6>
				</a>
			</div>
			<div class="post-content">
				{% if post_list|length > 1 %}
					{{ post.text|safe|truncatewords_html:250 }}
					<div class="read-more">
						<a href="/blog/post/{{ post.slug }}/">
							<h6>Read More</h6>
						</a>
					</div>
				{% else %}
					{{ post.text|safe }}
				{% endif %}
			</div>
		</div>	{% endfor %}

		{% if post_list|length > 1 %}
		<!-- Post paginator -->
		<div class="pages">
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li{% if not post_list.has_previous %} class="disabled"{% endif %}>
						<a href="#" aria-label="Previous">
					    	<span aria-hidden="true">&laquo;</span>
					  	</a>
					</li>
					{% for page_num in page_range %}
					<li{% if page_num == post_list.number %} class="disabled"{% endif %}>
						<a href="/blog/?page={{ page_num }}/">{{ page_num }}</a>
					</li>
					{% endfor %}
					<li{% if not post_list.has_next %} class="disabled"{% endif %}>
					  	<a href="#" aria-label="Next">
					    	<span aria-hidden="true">&raquo;</span>
					  	</a>
					</li>
				</ul>
			</nav>
		</div>
		{% endif %}

	</div>


	{% include 'blog/sidebar.html' %}

{% endblock %}

{% block scripts %}
{% endblock %}